<app-create-edit-task [model]="taskModel" (show)="showAppModelValue()"></app-create-edit-task>
<form>
<h2>Sign Up</h2>
  <div>
    <label for="name">Fullname: </label>
    <input type="text" name="fullname" id="fullname" [(ngModel)]="signUpModel.fullname" (blur)="validateFullname($event)">
    <p *ngIf="fullnameInvalid" style="color: red">Full name must start with uppercase!</p>
    <br>
    <label for="email">E-mail: </label>
    <input type="text" name="email" id="email" [(ngModel)]="signUpModel.email" (change)="validateEmail($event)">
    <p *ngIf="emailInvalid" style="color: red">Invalid email</p>
    <br>
    <label for="password">Password: </label>
    <input type="text" name="password" id="password" [(ngModel)]="signUpModel.password" (keypress)="validatePassword($event)">
    <p class="{{passwordInvalid}}">{{passwordInvalid}}</p>
    <br>
    <button (click)="signUp()">Küldés</button>
  </div>


</form>